<div class="navbar navbar-inverse" role="navigation"> 
 <div class="container">

<div class="navbar-collapse collapse"> 
<ul class="nav navbar-nav">
<li><a href="/">Metrics</a></li>
<li><a href="/all">All Data</a></li>
<li><a href="/domains_in_top_1m">Domains in top 1 mil</a></li>
<li><a href="/domains_not_in_top_1m">Domains not in top 1 mil</a></li>
<li><a href="/vt_data">All Data (VT Results)</a></li>
<li><a href="/categories">Category Information</a></li>
<li><a href="/categories_tree_all">Category Tree (all)</a></li>
<li><a href="/categories_tree_top">Category Tree (Top Domains)</a></li>
<li><a href="/categories_tree_not_top">DCategory Tree (Not Top Domains)</a></li>
<li><a href="/domaintoasn_forcegraph_all">Domain/ASN (forcegraph)</a></li>

</ul>
</div>
</div>
</div>